---
import about from "../data/about.json";
import Layout from "../layouts/Layout.astro";
import Intro from "../layouts/Intro.astro";

const team = [
    {
        name: "John Doe",
        role: "Founder & CEO",
        image: "https://placehold.co/700x400",
    },
    {
        name: "Johnny Dee",
        role: "Vice President",
        image: "https://placehold.co/700x400",
    },
    {
        name: "Jackie Deen",
        role: "Public Relations",
        image: "https://placehold.co/700x400",
    },
];
---

<Layout title="About">
    <main class="container mx-auto">
        <Intro 
            title="About Kava Kave"
            blob1={ about.blob1 }
            blob2={ about.blob2 }
            image1={ about.image1 }
            image1Alt={ about.image1Alt }
            image2={ about.image2 }
            image2Alt={ about.image2Alt }
        />

        <!-- team section -->
        <div class="mb-16">
            <div class="prose mx-auto my-20">
                <h2 class="text-center">The awesome team</h2>
            </div>
            
            <div class="grid grid-cols-3">
                {team.map((person) => (
                    <div class="card w-96 bg-base-100 shadow-xl mx-auto">
                        <figure><img src={person.image} alt={person.name} /></figure>
                        <div class="card-body">
                            <h2 class="card-title">{person.name}</h2>
                            <p>{person.role}</p>
                        </div>
                    </div>
                ))}
            </div>
        </div>
    </main>
</Layout>