---
import about from "../data/about.json";
import Layout from "../layouts/Layout.astro";
import Intro from "../layouts/Intro.astro";

const team = [
    {
        name: "John Doe",
        role: "Founder & CEO",
        image: "https://placehold.co/700x400",
    },
    {
        name: "Johnny Dee",
        role: "Vice President",
        image: "https://placehold.co/700x400",
    },
    {
        name: "Jackie Deen",
        role: "Public Relations",
        image: "https://placehold.co/700x400",
    },
];
---

<Layout title="About">
    <main class="mx-auto">
        <Intro 
            title="About Kava Kave"
            blob1={ about.blob1 }
            blob2={ about.blob2 }
            image1={ about.image1 }
            image1Alt={ about.image1Alt }
            image2={ about.image2 }
            image2Alt={ about.image2Alt }
            image3={ about.image3 }
            image3Alt={ about.image3Alt }
        />

        <!-- team section -->
        <div class="mb-16">
            <div class="prose mx-auto my-20">
                <h2 class="text-center">The awesome team</h2>
            </div>
            
            <div class="grid grid-cols-3">
                {team.map((person) => (
                    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow mx-auto">
                        <img class="rounded-t-lg" src={ person.image } alt={ person.name } />
						<div class="p-5">
							<a href="#">
								<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{ person.name }</h5>
							</a>
							<p class="mb-3 font-normal text-gray-700">{ person.role }</p>
						</div>
					</div>
                ))}
            </div>
        </div>
    </main>
</Layout>