---
import Layout from "../layouts/Layout.astro"

const allEvents = [
    {
        "type": "Upcoming",
        "events": [
            {
                title: 'Event 4',
                date: '2023-03-15',
                time: '19:00',
                location: 'Kava Kave',
                image: "https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg",
                imageAlt: "shoes",
                desc: 'Description of the event.',
            },
            {
                title: 'Event 5',
                date: '2023-03-16',
                time: '19:00',
                location: 'Kava Kave',
                image: "https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg",
                imageAlt: "shoes",
                desc: 'Description of the event.',
            },
            {
                title: 'Event 6',
                date: '2023-03-17',
                time: '19:00',
                location: 'Kava Kave',
                image: "https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg",
                imageAlt: "shoes",
                desc: 'Description of the event.',
            },
        ]
    },
    {
        "type": "Past",
        "events": [
            {
                title: 'Event 1',
                date: '2023-03-01',
                time: '19:00',
                location: 'Kava Kave',
                image: "https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg",
                imageAlt: "shoes",
                desc: 'Description of the event.',
            },
            {
                title: 'Event 2',
                date: '2023-03-02',
                time: '19:00',
                location: 'Kava Kave',
                image: "https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg",
                imageAlt: "shoes",
                desc: 'Description of the event.',
            },
            {
                title: 'Event 3',
                date: '2023-03-03',
                time: '19:00',
                location: 'Kava Kave',
                image: "https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg",
                imageAlt: "shoes",
                desc: 'Description of the event.',
            }
        ]
    }
]

// reverse so that most recent Past events show first
allEvents[1].events = allEvents[1].events.reverse();
---

<Layout title="Events">
    <main>
        <div class="prose mx-auto my-20">
            <h1 class="text-center">Events</h1>
        </div>

        <div class="container mx-auto my-20">
            {allEvents.map(category => (
                <div class="mb-20">
                    <h2 class="mb-8 text-2xl font-bold">{category.type} events</h2>

                    <div class="grid grid-cols-3 gap-4">
                        {category.events.map(event => (
                            <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow">
                                <a href="#">
                                    <img class="rounded-t-lg" src="https://flowbite.com/docs/images/blog/image-1.jpg" alt="" />
                                </a>
                                <div class="p-5">
                                    <a href="#">
                                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{ event.title }</h5>
                                    </a>
                                    <small>{ event.date }</small>
                                    <p class="mb-3 font-normal text-gray-700">{ event.desc }</p>
                                    <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                                        View event
                                        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        ))}
                    </div>
                </div>
            ))}
        </div>
    </main>
</Layout>