---
import kava from "../data/kava.json";
import Layout from "../layouts/Layout.astro";
import Intro from "../layouts/Intro.astro";
---

<Layout title="What is kava?">
    <main>
        <Intro 
            title="What is kava?"
            blob1={ kava.blob1 }
            blob2={ kava.blob2 }
            image1={ kava.image1 }
            image1Alt={ kava.image1Alt }
            image2={ kava.image2 }
            image2Alt={ kava.image2Alt }
        />

        <!-- faq -->
        <div class="mb-16">
            <div class="container prose mx-auto my-20">
                <h2 class="">FAQ</h2>

                {kava.faq.map((item) => (
                    <div class="collapse collapse-plus bg-base-200">
                        <input type="radio" name="faq" checked="checked" />

                        <div class="collapse-title text-xl font-medium">
                            {item.q}
                        </div>
                        <div class="collapse-content">
                            <p>{item.a}</p>
                        </div>
                    </div>
                ))}
            </div>
        </div>
    </main>
</Layout>