---
import kava from "../data/kava.json";
import Layout from "../layouts/Layout.astro";
import Intro from "../layouts/Intro.astro";
---

<Layout title="What is kava?">
    <main>
        <Intro 
            title="What is kava?"
            blob1={ kava.blob1 }
            blob2={ kava.blob2 }
            image1={ kava.image1 }
            image1Alt={ kava.image1Alt }
            image2={ kava.image2 }
            image2Alt={ kava.image2Alt }
            image3={ kava.image3 }
            image3Alt={ kava.image3Alt }
        />

        <!-- faq -->
        <div class="my-20">
            <div class="max-w-screen-xl mx-auto px-5 bg-white min-h-sceen">
                <div class="flex flex-col items-center">
                    <h2 class="font-bold text-5xl mt-5 tracking-tight">
                        FAQ
                    </h2>
                    <p class="text-neutral-500 text-xl mt-3">
                        Frequenty asked questions
                    </p>
                </div>
                <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
                    {kava.faq.map((item) => (
                        <div class="py-5">
                            <details class="group">
                                <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
                                    <span>{ item.q }</span>
                                    <span class="transition group-open:rotate-180">
                                        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path></svg>
                                    </span>
                                </summary>
                                <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                                    { item.a }
                                </p>
                            </details>
                        </div>
                    ))}
                </div>
            </div>
        </div>
    </main>
</Layout>