<!-- hero section -->
<div class="hero min-h-screen" style="background-image: url(https://daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg);">
    <div class="hero-overlay bg-opacity-80"></div>
    <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">Kava Kave</h1>
            <p class="mb-5">Welcome to the Kava Kave! We guarantee you will feel your best here. Our kicking kava will rock your world...or cave. Come in anytime.</p>
            <a href="/menu" class="btn btn-primary">Our menu</a>
            <a href="/kava" class="btn btn-secondary">What is kava?</a>
      </div>
    </div>
</div>